<!-- include header -->
<%- include('../../include/_header') %>
<!-- /include header -->

<!-- include header -->
<%- include('../../include/_navbar') %>
<!-- /include header -->
<div class="container-fluid">
    <div class="row justify-content-center">                 
        <div class="col-lg-12">
          <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
            <form action = '/orders/add' method = "post">
              <div class="card-header bg-dark">
                  <h5 class="text-center text-white">Add Order</h5>
              </div>

              <div class="card-body">                  
                    <div class="row">
                        <div class="col-md-3">                            
                            <div class="form-group">                                                                                               
                                <label for="bookingDate">Booking Date<span>*</span></label>                                                                               
                                <input class="form-control" name = "bookingDate" id="inputDate" required/>                            
                            </div>
                        </div>
                        <% if(user.role == "admin"){ %>
                            <div class="col-md-3">
                                <div class="form-group">  
                                    <input type="hidden" name="admin" id="admin" value="<%= user._id %>">
                                    <label for="consignorReference">Consignor Reference<span>*</span></label>
                                    <select class ="form-select" name = "client_id" id="clientId" required >
                                        <option value="">---Select Client---</option>                                        
                                        <% clientlist.forEach(client => { %>
                                            <option value="<%= client._id %>"><%= client.username %></option>
                                        <% }) %>                                        
                                    </select>                                
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="miscClients">Miscallaneous Reference</label>                                                                                                                                               
                                    <input class="form-control" name="miscClients" value='' id="miscClients" type="text" readonly required>                          
                                </div>
                            </div>
                            <% if(user.accessRight.indexOf('services') != -1) { %>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="service">Service<span>*</span></label>
                                        <select class ="form-select" name = "service" required >
                                            <option value="">---Select Service---</option>
                                            <% if(user.role == "admin") { 
                                                serviceList.forEach(service => { %>
                                                    <option value="<%= service._id %>"><%= service.serviceName %></option>
                                                <% })
                                            }else if(user.role == "client"){ 
                                                displayNames.forEach(name => { %>
                                                    <option value="<%= name %>"><%= name %></option>
                                               <% })
                                            } %>
                                                                                    
                                        </select>                                
                                    </div> 
                                </div>
                            <% }else{ %>
                                <input type="hidden" name="service" value="<%= user.defaultService %>">
                            <% } %>
                        <% }else if(user.role == "client"){ %>
                            <input type="hidden" name="client_id" id="client" value="<%= user._id %>">
                            <% if(adminUser.accessRight.indexOf('services') != -1) { %>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="service">Service<span>*</span></label>
                                        <select class ="form-select" name = "service" required >
                                            <option value="">---Select Service---</option>
                                            <% if(user.role == "admin") { 
                                                serviceList.forEach(service => { %>
                                                    <option value="<%= service._id %>"><%= service.serviceName %></option>
                                                <% })
                                            }else if(user.role == "client"){ 
                                                displayNames.forEach(name => { %>
                                                    <option value="<%= name %>"><%= name %></option>
                                               <% })
                                            } %>
                                                                                    
                                        </select>                                
                                    </div> 
                                </div>
                            <% }else{ %>
                                <input type="hidden" name="service" value="<%= adminUser.defaultService %>">
                            <% }
                        } %>
                        
                    <% if(user.settings.manualAwbOption == true){ %>                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="awbNumber">AWB Number (Optional)</label>                                                                               
                                <input class="form-control" name = "awbNumber" type="text"/>                            
                            </div>
                        </div>
                    <% } %>                                                                                            
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header bg-dark">
                                    <h5 class="text-center text-white">Consignor</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="consignor">Name<span>*</span></label>                                                                     
                                                <input class ="form-select" name="consignor" list="consignorlist" id="consignor" required>
                                                <datalist id="consignorlist">
                                                    <% consignorList.forEach(consignor => { %>
                                                        <option value="<%= consignor.name %>"><%= consignor.name %></option>
                                                    <% }) %>                                                         
                                                </datalist>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="consignorCompanyName">Company Name</label>                                                                               
                                                <input class="form-control" name="consignorCompanyName" id="consignorCompanyName" type="text"/>                            
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="hidden" name="origin" id="hOri" disabled>
                                                <label for="origin">Origin<span>*</span></label>
                                                <select class ="form-select" name = "origin" id="origin" required>
                                                    <option value="">---Select Origin---</option>
                                                    <% countries.forEach(country => { %>
                                                        <option value="<%= country.name %>"><%= country.name %></option>
                                                    <% }) %>                                                    
                                                </select>                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consignorContactNumber">Contact Number<span>*</span></label>                                                                               
                                                <input class="form-control" name="consignorContactNumber" id="consignorContactNumber" type="text" required/>                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consignorEmail">Email</label>
                                                <input class="form-control" name="consignorEmail" id="consignorEmail" type="text" />                                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="consignorAddress1">Address 1<span>*</span></label>                                                                                                                 
                                                <textarea class="form-control noEnter" name="consignorAddress1" id="consignorAddress1" required></textarea>                          
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="consignorAddress2">Address 2<span>*</span></label>
                                                <textarea class="form-control noEnter" name="consignorAddress2" id="consignorAddress2" required></textarea>                                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consignorPincode">Pincode<span>*</span></label>                                                                                                                 
                                                <input class="form-control" name="consignorPincode" id="consignorPincode" type="text" required/>                         
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consignorCity">City<span>*</span></label>
                                                <%if(user.username != 'eps'){ %>
                                                <input class="form-control" name="consignorCity" id="consignorCity" type="text" required/>
                                                <%}else{%>
                                                <input class="form-select" name="consignorCity" list="consignorCitylist" id="consignorCity" required>
                                                <datalist id="consignorCitylist">       
                                                    <% cityList.forEach(city => { %>
                                                    <option value="<%= city %>"><%= city %></option>
                                                    <% }) %>                                                                             
                                                </datalist>                                                      
                                                <%}%>                                                                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consignorCity">State<span>*</span></label>
                                                <%if(user.username != 'eps'){ %>
                                                <input class="form-control" name="consignorState" id="consignorState" type="text" required/>
                                                <%}else{%>   
                                                <input class="form-select" name="consignorState" list="consignorStatelist" id="consignorState" required>
                                                <datalist id="consignorStatelist">       
                                                    <% stateList.forEach(state => { %>
                                                    <option value="<%= state %>"><%= state %></option>
                                                    <% }) %>                                                                             
                                                </datalist>                                                      
                                                <%}%>                                                   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="hidden" name="docType" id="hDT" disabled>
                                                <label for="docType">Document Type<span>*</span></label>                                                                                                                 
                                                <select class="form-select" name="docType" id="docType" required>
                                                    <option value="">---Select Document Type---</option>
                                                    <option value="Aadhaar Number">Aadhaar Number</option>
                                                    <option value="GSTIN (Normal)">GSTIN (Normal)</option>
                                                    <option value="PAN Number">PAN Number</option>
                                                    <option value="Passport Number">Passport Number</option>
                                                    <option value="Document">Document</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="docNumber">Document Number<span>*</span></label>
                                                <input class="form-control" name="docNumber" id="docNumber" type="text" required>                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header bg-dark">
                                    <h5 class="text-center text-white">Consignee</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="consignee">Name<span>*</span></label>                                                 
                                                <input class ="form-select" name="consignee" id="consignee" list="consigneelist" required>
                                                <datalist id="consigneelist">
                                                    <% consigneeList.forEach(consignee => { %>
                                                        <option value="<%= consignee.name %>"><%= consignee.name %></option>
                                                    <% }) %>                                                         
                                                </datalist>                                                
                                            </div>
                                        </div>                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="consigneeCompanyName">Company Name</label>                                                                               
                                                <input class="form-control" name="consigneeCompanyName" id="consigneeCompanyName" type="text"/>                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="hidden" name="destination" id="hDest" disabled>
                                                <label for="destination">Destination<span>*</span></label>
                                                <select class ="form-select" name = "destination" id="destination" required>
                                                    <option value="">---Select Destination---</option>
                                                    <% countries.forEach(country => { %>
                                                        <option value="<%= country.name %>"><%= country.name %></option>
                                                    <% }) %>
                                                </select>                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consigneeContactNumber">Contact Number<span>*</span></label>                                                                               
                                                <input class="form-control" name="consigneeContactNumber" id="consigneeContactNumber" type="text" required/>                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consigneeEmail">Email</label>
                                                <input class="form-control" name="consigneeEmail" id="consigneeEmail" type="text" />                                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="consigneeAddress1">Address 1<span>*</span></label>                                                                                                                 
                                                <textarea class="form-control noEnter" name="consigneeAddress1" id="consigneeAddress1" required></textarea>                          
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="consigneeAddress2">Address 2<span>*</span></label>
                                                <textarea class="form-control noEnter" name="consigneeAddress2" id="consigneeAddress2" required></textarea>                                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consigneePincode">Pincode<span>*</span></label>                                                                                                                 
                                                <input class="form-control" name="consigneePincode" id="consigneePincode" type="text" required/>                         
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consigneeCity">City<span>*</span></label>
                                                <%if(user.username=='eps'){%>
                                                <input class="form-control" name="consigneeCity" value="London" id="consigneeCity" type="text" required/>
                                                <%}else{%>
                                                <input class="form-control" name="consigneeCity" id="consigneeCity" type="text" required/>
                                                <%}%>                                                                                                      
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consigneeCity">State<span>*</span></label>
                                                <%if(user.username=='eps'){%>
                                                <input class="form-control" name="consigneeState" value="UK" id="consigneeState" type="text" required/>
                                                <%}else{%>                     
                                                <input class="form-control" name="consigneeState" id="consigneeState" type="text" required/>
                                                <%}%>                                        
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>

              <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>                
              </div>  
            </form>             
          </div>            
        </div>          
    </div>
</div>




<!-- include footer -->
<%- include('../../include/_footer') %>
<!-- /include footer -->

<script src="/js/order/miscClients.js"></script>
<script src="/js/order/walkinData.js"></script>