<!-- include header -->
<%- include('../../include/_header') %>
<!-- /include header -->

<!-- include header -->
<%- include('../../include/_navbar') %>
<!-- /include header -->
<div class="container">
    <div class="row justify-content-center">                 
        <div class="col-lg-10">
          <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
            <form action = '/orders/<%= order._id %>/track?_method=PATCH' method = "post">
              <div class="card-header bg-dark">
                  <h5 class="text-center text-white">Tracking for AWB: <%= order.awbNumber %></h5>
              </div>
              <div class="card-body">                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="trackingType" value="<%= user.trackingType %>">
                                <input type="hidden" name="awbNumber" value="<%= order.awbNumber %>">
                                <label for="trackingNumber">Tracking Number<span>*</span></label>                                                                               
                                <input class="form-control" name = "trackingNumber" value="<%= order.trackingNumber %>" type="text" required/>                            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vendor">Vendor<span>*</span></label>                                                                               
                                <select class="form-select" name = "vendorId" required>
                                    <% if(typeof order.vendorId != 'undefined' && typeof order.vendorName != 'undefined'){ %>
                                    <option value='<%= order.vendorId %>'><%= order.vendorName %></option>
                                    <% }else{ %>
                                    <option value=''>---Select Vendor---</option>
                                    <% } %>                                    
                                    <option value="0">OTHERS</option>
                                    <% if(user.apiCredit > 0 && user.trackingType=='shipway'){ 
                                        apiVendors.forEach(vendor => { %>
                                        <option value="<%= vendor.id %>"><%= vendor.name %></option>
                                    <% })
                                    }else if(user.trackingType=='linked'){
                                        linkedVendors.forEach(vendor => { %>
                                        <option value="<%= vendor.id %>"><%= vendor.name %></option>
                                       <% })
                                    } %>                                    
                                </select>
                            </div>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="coforwarder">Co-forwarder</label>                                                                            
                                <%if(user.username == 'krishnaintlexp'){%>
                                <select class="form-select" name="coforwarder">
                                    <option value="<%= order.coforwarder %>"><%= order.coforwarder %></option>
                                    <% coforwarders.forEach(coforwarder => { %>
                                        <option value="<%= coforwarder %>"><%= coforwarder %></option>
                                    <% }) %>
                                </select>
                                <%}else{%>
                                <input class="form-control" name="coforwarder" value="<%= order.coforwarder %>" type="text"/>                            
                                <%}%>                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="coforwarderAwb">Co-forwarder AWB</label>                                                                                                             
                                <input class="form-control" name="coforwarderAwb" value="<%= order.coforwarderAwb %>" type="text"/>                            
                            </div>
                        </div>                                          
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="clientNote">Client Note</label>       
                                <small class="text-muted">(This note will be displayed on tracking page)</small>                                                                        
                                <textarea class="form-control" name = "clientNote"><%= order.clientNote %></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="selfNote">Self Note</label>
                                <small class="text-muted">(This note will be not be displayed. For own reference)</small>                                                                             
                                <textarea class="form-control" name = "selfNote"><%= order.selfNote %></textarea>
                            </div>
                        </div>                                          
                    </div>                  
              </div> 
              <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>                
              </div>  
            </form>             
          </div>            
        </div>          
    </div>
</div>




<!-- include footer -->
<%- include('../../include/_footer') %>
<!-- /include footer -->