<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- include header -->
<%- include('include/_navbar') %>
<!-- /include header -->
<div class="container-fluid" style="margin-bottom:50px"> 
    <div class="container-fluid">
        <header class="row py-3 mb-4 border-bottom">
            <div class="col-md-3">                
                <span class="fs-4 text-dark">Manifest List</span>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3 d-flex flex-row-reverse">
                <a href="/manifest" target="_blank" class="btn btn-primary">Generate Manifest</a>
            </div>
        </header>
    </div> 
      
    <table id="myTable" class="display cell-border responsive" style="width:100%">
        <thead>
            <tr>
                <th>MANIFEST NUMBER</th>
                <th>DATE</th>
                <th>VENDOR</th>
                <th>DESTINATION</th>
                <th>ORIGIN</th>
                <th>AWB COUNT</th>                        
                <th>ACTION</th>                
            </tr>
        </thead>
        <tbody> 
            <% manifestList.slice().reverse().forEach(manifest => { %> 
                <tr>
                <td><%= manifest.manifestNumber %></td>                
                <td><%= moment(manifest.manifestDate).format(shortDateFormat) %></td>
                <td><%= manifest.dispatchTo %></td>
                <td><%= manifest.manifestDestination %></td>
                <td><%= manifest.manifestOrigin %></td>
                <td></td>                        
                <td>                    
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/manifest/<%= manifest._id %>">Edit</a>
                            <a class="dropdown-item" href="/manifest/<%= manifest._id %>/manifestexcel">Manifest Excel</a>                            
                            <a class="dropdown-item" href="/manifest/<%= manifest._id %>/ediexcel">EDI Excel</a>                                                                        
                        </div>
                    </div>
                </td>
                </tr>                
            <% }) %>                                                                                                           
        </tbody>
    </table>    
</div>

       


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->