<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->

<!-- include header -->
<%- include('../include/_navbar') %>
<!-- /include header -->
<div class="container-fluid mb-5"> 
    <div class="container-fluid">
        <header class="row py-3 mb-4 border-bottom">
            <div class="col-md-6">              
                <% if(user.role=='superadmin'){ %>
                    <span class="fs-4 text-dark">List of users</span>
                <%}else{ %>
                    <span class="fs-4 text-dark">List of users (Admin Code: <%= user.adminCode %>)</span>
                <%}%>                
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 d-flex flex-row-reverse">
                <a href="/users/add" class="btn btn-primary">Add User</a>
            </div>
        </header>
    </div> 

    <div class="row justify-content-center">        
        <div class="col-md-6">
            <div class="alert alert-success" role="alert" id="success"> 
                <strong>Success!</strong> User status updated successfully.                               
            </div>            
            <div class="alert alert-warning" id="warning">
                <strong>Error!</strong> Failed to update user status.
            </div>
            <div class="alert alert-danger" id="danger">
                <strong>Unknown!</strong> Some unknown error.
            </div>
        </div>
    </div>
    
      
    <table id="myTable" class="display cell-border responsive" width="100%" >
        <thead>
            <tr>
                <th>Date</th>
                <th>Username</th>
                

                <% if(user.role == 'superadmin'){ %>
                <th>Admin Code</th>
                <th>Access</th>
                <th>Api Credit</th>
                <th>Tracking Id</th>
                <th>Tracking Type</th>
                <th>Display Name</th>
                <th>Last Bill</th>
                <th>Action</th>
                <th>Action</th>
                <% } %>   
                
                <th>Status</th>

                <% if(user.role == 'admin'){ %>
                <!-- <th>Services</th> -->
                <% } %>    
                
                <th>Action</th> 
                <th>Action</th>                               
            </tr>
        </thead>
        <tbody>                      
            <% userList.slice().reverse().forEach((client,i) => { %> 
                <tr>
                    <td><%= moment(client.createdAt).format(shortDateFormat) %></td>                    
                    <td><%= client.username %></td>                    

                    <% if(user.role == 'superadmin'){ %>
                    <td><%= client.adminCode %></td>
                    <td><%= client.accessRight %></td>
                    <td><%= client.apiCredit %></td>
                    <td><%= client.trackingId %></td>
                    <td><%= client.trackingType %></td>
                    <td><%= client.displayName %></td>
                    <td><%= client.invoice ? client.invoice.billNumber : '' %></td>
                    <td><a class="btn-sm btn-primary" href="/users/<%= client._id %>/addons">Add Ons</a></td>
                    <td><a class="btn-sm btn-primary" href="/orders/<%= client._id %>/orderlist">Orders</a></td>
                    <% } %>                    
                                    
                    <% if(client.username != 'Miscellaneous'){ %>                        
                    <td>
                        <% if(user.accessRight.indexOf('user') != -1 || user.role=="superadmin"){ %> 
                        <label class="switch">
                            <input class="myClass" type="checkbox" id="<%= client._id %>" name="status" <%= client.status == 'active' ? 'checked' : '' %> >
                            <span class='slider round'></span>
                        </label>                        
                        <%}%>
                    </td>                        
                    <td><a class="btn-sm btn-primary" href="/users/<%= client._id %>/edit">Edit</a></td>  
                    <td><a class="btn-sm btn-primary" href="/users/<%= client._id %>/profile/edit">Profile</a></td>
                    <%}else{%>
                    <td></td>
                    <td></td>    
                    <td></td>
                    <%}%>                       
                                   
                </tr>
            <% }) %>                                                                                                           
        </tbody>
    </table>    
</div>

       


<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->