<div class="card-body">                  
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">                    
                <label for="serviceCode">Service Code<span>*</span></label>                                                                               
                <input class="form-control text-uppercase" name="serviceCode" value="<%= service.serviceCode %>" type="text" minlength="5" maxlength="5" required/>                            
            </div>
        </div>            
        <div class="col-md-6">
            <div class="form-group">                    
                <label for="displayName">Display Name<span>*</span></label>                                                                               
                <input class="form-control" name="displayName" value="<%= service.displayName %>" type="text" required/>                            
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-group">
                    <label for="serviceFsc">Category<span>*</span></label>
                    <select class="form-select" name="category" id="category" required>
                        <option value="<%= service.category ? service.category : '' %>"><%= service.category ? service.category : '---select---' %></option>
                        <option value="individual">Individual</option>
                        <option value="common">Common</option>
                    </select>
                </div>                
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" name="admin" value="<%= user._id %>">
            <label for="clientId">Client<span>*</span></label> 
            <select class="form-select" name="client" id="client" required disabled>
                <option value="<%= service.client ? service.client._id : '' %>"><%= service.client ? service.client.username : '---select---' %></option>
                <% clientList.forEach(client => { %>                        
                    <option value="<%= client._id %>"><%= client.username %></option>
                <% }) %>
            </select>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="serviceFsc">Fuel Surcharge (In Percent)</label>                                                                               
                <input class="form-control" name="serviceFsc" value="<%= service.serviceFsc ? service.serviceFsc : 0%>" type="number" step="0.01"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">                                                                            
                <label for="updateService">Upload File<span>*</span></label>                        
                <input type="file" class="form-control-file" name="uploaded_file" accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' required>                            
            </div>        
        </div>
    </div>
                                                                     
</div>