<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->

<!-- include header -->
<%- include('../include/_navbar') %>
<!-- /include header -->

<!-- include flat Manifest modal -->
<%- include('../order/modal/flatManifest') %>
<!-- include flat Manifest modal -->

<!-- include order export modal -->
<%- include('../order/modal/orderExport') %>
<!-- include order export modal -->

<!-- include cash invoice modal -->
<%- include('../order/modal/cashInvoice') %>
<!-- include cash invoice modal -->

<%if(user.role=='admin' && user.invoice){
    if(user.invoice.status != 'paid'){ %>
  <div class="container-fluid bg-danger">
      <div class="row justify-content-center p-2">          
          <h6 id="paymentInfo" class="text-white d-inline">Hi, Invoice is raised. <a id="paymentNotification" data-id="<%= user.invoice.paymentDate %>" href="/bills/<%= user.invoice._id %>/view" class="btn-sm btn-dark" target="_blank">Click here for details</a></h6>
      </div>
  </div>
  <%}}%>

<div class="container-fluid mb-5"> 
    <div class="container-fluid">
        <header class="row py-3 mb-4 border-bottom">
            <div class="col-md-3">                
                <span class="fs-4 text-dark">List of orders</span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6 d-flex flex-row-reverse">
                <a href="/orders/add" class="btn btn-primary">Add Order</a>
                <%if(user.role=='client'){%>                       
                <button id="flatManifest" class="btn btn-primary mr-3">Manifest</button> 
                <%if(user.admin.accessRight.includes('services')){%>
                <a href="/services/list" class="btn btn-primary mr-3">Rate Checker</a>  
                <%}           
                }%>                
                <%if(user.role=='admin'){%> 
                <button id="orderExport" class="btn btn-primary mr-3">Export</button>  
                <a href="/orders/search/archive" class="btn btn-primary mr-3">Archive</a>                 
                <button id="getTrackStatus" class="btn btn-primary mr-3">Status</button>
                <%}%>       
                <%if(user.role=='admin' && user.settings.autoHsn==true || user.role=='client' && user.admin.clientSettings.autoHsn==true){%>
                <a href="/orders/hsn/list" class="btn btn-primary mr-3">HSN Codes</a>
                <%}%>                                       
            </div>            
        </header>
    </div> 
          
    <table id="myTable" class="display cell-border responsive" width="100%" >
        <thead>
            <tr>
                <th>Date</th>
                <th>AWB</th>                
                <% if(user.role == 'admin'){ %>
                    <th>Status</th>                           
                    <th>Client</th>                               
                <% } %>
                <th>Consignor</th>
                <th>Consignee</th>   
                <th>Action</th>    
                <th>Print</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Box</th>
                <th>Weight</th>
                <% if(user.settings.coforwarder){%>
                <th>Forwarder</th>
                <%}%>
                <% if(user.accessRight.indexOf('invoice') != -1){ %> 
                <th>Bill</th>
                <% } %>                
                <th>Tracking</th>
                <th>Vendor</th>                            
            </tr>
        </thead>
        <tbody>          
            <% orderlist.forEach(order => { %> 
                <tr>
                    <td><%= moment(order.bookingDate).format(shortDateFormat) %></td>  
                    <% if(user.role == 'admin'){ %>
                        <td class="cron"><%= order.awbNumber %></td>                        
                     <% }else{ %>
                        <td><%= order.awbNumber %></td>
                    <% } %>                    
                    <% if(user.role == 'admin'){ %>
                    <td id="<%= order.awbNumber %>" class="longText"></td>
                    <% } %>                 
                    <% if(user.role == 'admin'){ %>                        
                        <%if(order.miscClients=='' || !order.miscClients){%>
                            <td><%= order.client.username %></td>                                                    
                        <% }else{ %> 
                            <td><b>M:</b><%= order.miscClients %></td>    
                        <% } %>                    
                    <% } %>
                    <td><%= order.consignor %></td>
                    <td><%= order.consignee %></td>
                    <td>                        
                        <div class="dropdown">
                            <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Edit
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="<%= order._id %>">Primary Details</a>
                                <a class="dropdown-item" href="<%= order._id %>/box">Box Details</a>
                                <% if(user.role == 'admin'){ %>
                                <a class="dropdown-item" href="<%= order._id %>/track">Tracking Details</a>
                                <% if(user.accessRight.indexOf('invoice') != -1){ %> 
                                <a class="dropdown-item" href="<%= order._id %>/bill">Bill Details</a>
                                <% } %>
                                <% } %>      
                                <% if(user.settings.emailNotifications==true){ %>
                                <a class="dropdown-item" href="<%= order._id %>/email">Send Email Notification</a>
                                <%}%>                                                          
                            </div>
                        </div>                        
                    </td>
                    <td>
                        <div class="dropdown">
                            <a href="" class="btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-gradient"><i class="fas fa-print btn-primary-dark"></i></span>
                            </a>                            
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                               
                                <a class="dropdown-item" href="<%= order._id %>/print/awb" target="_blank">Accounts/Consignor AWB Copy</a>                                
                                <a class="dropdown-item" href="<%= order._id %>/print/awb/consignee/consignee" target="_blank">Consignee AWB Copy</a>
                                <a class="dropdown-item" href="<%= order._id %>/print/awb/consignor/consignor" target="_blank">Consignor AWB Copy</a>                                
                                <a class="dropdown-item" href="<%= order._id %>/print/boxsticker" target="_blank">Box Sticker</a>
                                <a class="dropdown-item" href="<%= order._id %>/print/packinglist/pdf" target="_blank">Packing List</a>
                                <%if(user.settings.packingListExcel==true){%>
                                <a class="dropdown-item" href="<%= order._id %>/print/packinglist/excel" >Packing List Excel</a>                
                                <%}%>       
                                <%if(user.settings.cashInvoice==true && order.miscClients && order.boxDetails.length > 0 && order.totalBill){%>
                                <button class="dropdown-item cashInvoice" data-cashorder="<%= order._id %>" data-misc="<%= order.miscClients %>">Cash Invoice</button>
                                <%}%>
                            </div>
                        </div>
                    </td>
                    <td><%= order.origin %></td>
                    <td><%= order.destination %></td>
                    <td><%= order.numberOfBoxes %></td>
                    <td><%= order.chargeableWeight %></td>
                    <% if(user.settings.coforwarder){%>
                    <td><%= order.coforwarder %></td>
                    <%}%>
                    <% if(user.accessRight.indexOf('invoice') != -1){ %> 
                    <td><%= order.totalBill %></td>
                    <% } %>                    
                    <td><%= order.trackingNumber %></td>
                    <% if(user.role == 'admin'){ 
                         if(order.vendorName == 'OTHERS' || user.trackingType=='linked'){ %>
                            <td><a href="/orders/<%= order._id %>/trackingdetails"><%= order.vendorName %></a></td>
                        <% }else{ %>
                            <td><%= order.vendorName %></td>
                        <% } 
                     }else if(user.role == 'client'){ %>
                        <td><%= order.vendorName %></td>
                     <% } %>
                </tr>
            <% }) %>                                                                                                           
        </tbody>
    </table>       
</div>


<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->

<script src = "/js/order/currentStatus.js"></script>
<script src = "/js/order/flatManifest.js"></script>
<script src = "/js/order/cashInvoice.js"></script>
<script src = "/js/order/orderExport.js"></script>

