<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->

<!-- include header -->
<%- include('../include/_navbar') %>
<!-- /include header -->

<!-- include flat Manifest modal -->
<%- include('../order/modal/flatManifest') %>
<!-- include flat Manifest modal -->

<div class="container-fluid mb-5"> 
    <div class="container-fluid">
        <header class="row py-3 mb-4 border-bottom">
            <div class="col-md-3">                
                <span class="fs-4 text-dark">List of orders</span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6 d-flex flex-row-reverse">
                <a href="/orders/add" class="btn btn-primary">Add Order</a>
                <%if(user.role=='client'){%>                       
                <button id="flatManifest" class="btn btn-primary mr-3">Manifest</button>            
                <%}%>
            </div>            
        </header>
    </div> 
          
    <table id="myTable" class="display cell-border responsive" width="100%" >
        <thead>
            <tr>
                <th>Date</th>
                <th>AWB</th>                
                <% if(user.role == 'admin'){ %>
                    <th>Status</th>                           
                    <th>Client</th>                               
                <% } %>
                <th>Consignor</th>
                <th>Consignee</th>   
                <th>Action</th>    
                <th>Print</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Box</th>
                <th>Weight</th>
                <% if(user.accessRight.indexOf('invoice') != -1){ %> 
                <th>Bill</th>
                <% } %>                
                <th>Tracking</th>
                <th>Vendor</th>                            
            </tr>
        </thead>
        <tbody>          
            <% orderlist.forEach(order => { %> 
                <tr>
                    <td><%= moment(order.bookingDate).format(shortDateFormat) %></td>  
                    <% if(user.role == 'admin'){ %>
                        <td class="cron"><%= order.awbNumber %></td>                        
                     <% }else{ %>
                        <td><%= order.awbNumber %></td>
                    <% } %>                    
                    <% if(user.role == 'admin'){ %>
                    <td id="<%= order.awbNumber %>" class="longText"></td>
                    <% } %>                 
                    <% if(user.role == 'admin'){ %>                        
                        <%if(order.miscClients=='' || !order.miscClients){%>
                            <td><%= order.client.username %></td>                                                    
                        <% }else{ %> 
                            <td><b>M:</b><%= order.miscClients %></td>    
                        <% } %>                    
                    <% } %>
                    <td><%= order.consignor %></td>
                    <td><%= order.consignee %></td>
                    <td>                        
                        <div class="dropdown">
                            <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Edit
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="<%= order._id %>">Primary Details</a>
                                <a class="dropdown-item" href="<%= order._id %>/box">Box Details</a>
                                <% if(user.role == 'admin'){ %>
                                <a class="dropdown-item" href="<%= order._id %>/track">Tracking Details</a>
                                <% if(user.accessRight.indexOf('invoice') != -1){ %> 
                                <a class="dropdown-item" href="<%= order._id %>/bill">Bill Details</a>
                                <% } %>
                                <% } %>                                                                
                            </div>
                        </div>                        
                    </td>
                    <td>
                        <div class="dropdown">
                            <a href="" class="btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-gradient"><i class="fas fa-print btn-primary-dark"></i></span>
                            </a>                            
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                               
                                <a class="dropdown-item" href="<%= order._id %>/print/awb" target="_blank">Print AWB</a>
                                <a class="dropdown-item" href="<%= order._id %>/print/boxsticker" target="_blank">Box Sticker</a>
                                <a class="dropdown-item" href="<%= order._id %>/print/packinglist" target="_blank">Packing List</a>                
                            </div>
                        </div>
                    </td>
                    <td><%= order.origin %></td>
                    <td><%= order.destination %></td>
                    <td><%= order.numberOfBoxes %></td>
                    <td><%= order.chargeableWeight %></td>
                    <% if(user.accessRight.indexOf('invoice') != -1){ %> 
                    <td><%= order.totalBill %></td>
                    <% } %>                    
                    <td><%= order.trackingNumber %></td>
                    <% if(user.role == 'admin'){ 
                         if(order.vendorName == 'OTHERS'){ %>
                            <td><a href="/orders/<%= order._id %>/trackingdetails"><%= order.vendorName %></a></td>
                        <% }else{ %>
                            <td><%= order.vendorName %></td>
                        <% } 
                     }else if(user.role == 'client'){ %>
                        <td><%= order.vendorName %></td>
                     <% } %>
                </tr>
            <% }) %>                                                                                                           
        </tbody>
    </table>       
</div>


<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->

<script src = "/js/order/currentStatus.js"></script>
<script src = "/js/order/flatManifest.js"></script>

