<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->

<!-- include header -->
<%- include('../include/_navbar') %>
<!-- /include header -->
<div class="container">
    <div class="row justify-content-center">                 
        <div class="col-lg-12">
          <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
            <form action = '/orders/<%= order._id %>/trackingdetails?_method=PATCH' method = "post">
              <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Tracking Status Details for AWB : <%= order.awbNumber %></h3>
              </div>
              <div class="card-body">                  
                    <div class="row">                                                                  
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="trackingStatus">Status Code<span>*</span></label>
                                <select class ="form-select" name = "trackingStatus" required >
                                    <option value="<%= order.trackingStatus %>"><%= order.trackingStatus %></option>                                    
                                    <option value="SCH">SCH</option>
                                    <option value="INT">INT</option>     
                                    <option value="ISU">ISU</option>
                                    <option value="DEL">DEL</option>
                                    <option value="RTN">RTN</option>                                                                          
                                </select>                                                                                                        
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="actionBox">Action</label><br>                                                                         
                                <button class="btn btn-primary btn-block" id="actionStatus">Add Status</button>
                            </div>
                        </div>                                                
                    </div>
                    <div class="row">                        
                        <table class="table table-bordered table-responsive-sm" id="statusTable">                            
                                <tr>
                                    <td><label for='statusDate'>Date</label></td>
                                    <td><label for='statusTime'>Time</label></td>
                                    <td><label for='statusLocation'>Location</label></td>
                                    <td><label for='statusActivity'>Activity</label></td>                                    
                                    <td><label for='statusRemove'>Action</label></td>
                                </tr>
                                <% if(order.trackingDetails.length > 0){     
                                    order.trackingDetails.slice().reverse().forEach((status,i) => { %>  
                                <tr id="r<%= i+100 %>"> 
                                    <td>
                                        <input class='form-control text-center dateStat' name='statusDate[]' value="<%= moment(status.statusDate.toISOString().split('T')[0]).format(shortDateFormat) %>" required>                                        
                                    </td>
                                    <td>
                                        <input class='form-control text-center timeStat' name='statusTime[]' value="<%= status.statusTime %>" required>                                        
                                    </td>
                                    <td>
                                        <input type='string' class='form-control text-center' name='statusLocation[]' value="<%= status.statusLocation %>" required>
                                    </td>
                                    <td>
                                        <input type='string' class='form-control text-center' name='statusActivity[]' value="<%= status.statusActivity %>" required>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger removeStatus"><i class="fa fa-minus-circle"></i></button>
                                    </td>
                                </tr>
                                <% })  
                                } %>              
                        </table>                    
                    </div>                                  
              </div>
              
              <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12 text-center">                            
                            <button type="submit" class="btn btn-primary">Submit</button>                                
                        </div>
                    </div>                
              </div>  
            </form>             
          </div>            
        </div>          
    </div>
</div>




<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->