<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->

<!-- include header -->
<%- include('../include/_navbar') %>
<!-- /include header -->
<div class="container-fluid mb-5"> 
    <div class="container-fluid">
        <header class="row py-3 mb-4 border-bottom">
            <div class="col-md-3">                
                <span class="fs-4 text-dark">List of Settings</span>
            </div>            
        </header>
    </div> 
      
    <table id="myTable" class="display cell-border responsive" width="100%" >
        <thead>
            <tr>
                <th>Name</th>                
                <th>Action</th>                
            </tr>
        </thead>
        <tbody>                      
            <% settingsList.forEach((setting,i) => { %> 
                <tr>
                    <td><%= setting.name %></td>                    
                    <td><a class="btn-sm btn-primary" href="<%= setting.url %>">View</a></td>
                </tr>
            <% }) %>                                                                                                           
        </tbody>
    </table>    
</div>

       


<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->



